[submodule "headers-more-nginx-module"]
	path = headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module.git
[submodule "nginx_upstream_check_module"]
	path = nginx_upstream_check_module
	url = https://github.com/yaoweibin/nginx_upstream_check_module.git
[submodule "module_1.22.1/nginx-module-vts"]
	path = module_1.22.1/nginx-module-vts
	url = https://github.com/vozlt/nginx-module-vts.git
[submodule "module_1.22.1/headers-more-nginx-module"]
	path = module_1.22.1/headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module.git
[submodule "module_1.22.1/nginx_upstream_check_module"]
	path = module_1.22.1/nginx_upstream_check_module
	url = https://github.com/yaoweibin/nginx_upstream_check_module.git
[submodule "module_1.22.1/nginx-sticky-module-ng"]
	path = module_1.22.1/nginx-sticky-module-ng
	url = https://github.com/ishushkin/nginx-sticky-module-ng.git
[submodule "module_1.22.1/ngx_hidden_signature_patch"]
	path = module_1.22.1/ngx_hidden_signature_patch
	url = https://github.com/torden/ngx_hidden_signature_patch.git
[submodule "module_1.22.1/naxsi"]
	path = module_1.22.1/naxsi
	url = https://github.com/wargio/naxsi.git
